<%@ page import="java.sql.*" %>
<%
    Connection con = null;
    PreparedStatement ps = null;
    ResultSet rs = null;
    try {
        Class.forName("com.mysql.jdbc.Driver");
        con = DriverManager.getConnection("jdbc:mysql://localhost:3306/mydatabase", "username", "password");
        ps = con.prepareStatement("SELECT * FROM items");
        rs = ps.executeQuery();
    } catch (Exception e) {
        e.printStackTrace();
    }
%>
<!DOCTYPE html>
<html>
<head>
	<title>Billing System</title>
</head>
<body>
	<h2>Item List</h2>
	<form method="post" action="billing.jsp">
		<%
			while (rs.next()) {
				int id = rs.getInt("id");
				String name = rs.getString("name");
				float price = rs.getFloat("price");
		%>
			<label for="<%= name %>"><%= name %></label>
			<input type="text" name="item[<%= name %>]" placeholder="Enter quantity">
			<input type="hidden" name="price[<%= name %>]" value="<%= price %>">
		<%
			}
		%>
		<br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
